{% extends 'quizzStr.html'%}
{% load static %}
{% load widget_tweaks %}
{% block section1%}


<div class="upcoming-events-outer">
    <div class="contStreaming">
        
        <div class="container" style="display:flex; justify-items:center; justify-content:center; margin-top:0px;">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 containerLogoIndex" style="align-self:center;">
                   <!-- <img src="{% static 'lib/images/curvaBGEscale2.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="logoIndexBGILC2">
                    <img src="{% static 'lib/images/logocon1.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="imgLogoIndexAgentesBGILC2">   -->
                   <!-- <a href="https://picasion.com/"><img src="https://i.picasion.com/pic92/d83684ae4b4e089fe97c09a727b1a3fa.gif"  width="100" height="150" border="0" alt="https://picasion.com/" /></a>-->
                    <a href="https://picasion.com/"><img src="https://i.picasion.com/pic92/77c459e36b772641950fe7ffdb39bc5f.gif" width="100%" height="90%" border="0" alt="https://picasion.com/" /></a>               

                    <img src="{% static 'lib/images/textoA.jpg' %}" style="margin-left: 15%;" width="100%" height="70%" >
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
            </div>      
        </div>
        
        <br>

        <div class="streaming h-100">
                


            <div class=" container-fluid h-100" id="chatCard">
                <div class="col-lg-12 p-0  align-items-center justify-content-center text-center "><!-- d-flex p-0-->
                   <h1 class="text-center text-white"> Conectados </h1>
                   <br><br>
                   <button onclick="lastUsersConectados(); refreshDatatable();" class="btn  btnBrother" style="background-color: #018fad; color: white;"> Actualizar </button>
                   <br><br>
                   <br><br>
                   
                   <div class="text-center text-black" id="totalContactos" ></div>
                           <br><br>                 
           
                       </div>            
                   </div>
               </div>
               
               <div class="row">
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                       <table id="conectadosDataTable" class="display">
                           <thead>
                               <tr>
                                   <th>Usuario</th>
                                   <th>Región</th>
                               </tr>
                           </thead>
                          
                       </table>
                   </div>
                   <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
               </div>
           



        </div><!-- ens streamig-->
        <br>
        <div class="container" style="display:flex; justify-items:center; justify-content:center;">
            <img src="{% static 'lib/images/logoQ-color.png' %}" style="height:100px;"> 
        </div>

    </div>



{% endblock%}

{% block scripts%}

    <script>

window.onload = function () {
				initConectados();
                lastUsersConectados();

             //setTimeout('LimpiarStyle()',600);
           };

          
           $(document).ready( function () 
           {
               
                $('#conectadosDataTable').DataTable(
                {

                    "ajax": {
                        "url": KEY_QUALITAS_ATC_CONFIG.table_quizz_service+"/tabledetails",
                        dataSrc: ''
                    },
                    "columns": [
                        { "data": "nombre" },
                        { "data": "region" },
                        ],
                    "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por pagina",
                            //"zeroRecords": "No hay registros",
                            //"info": "Mostrando pagina _PAGE_ de _PAGES_",
                            "infoEmpty": "No hay informacion",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            },
                            "emptyTable": "No hay datos disponibles en la tabla",
                            "info": "Mostrando de _START_ al _END_ de  _TOTAL_ registros",
                            "zeroRecords": "No se encontraron coincidencias",
                            "loadingRecords": "Cargando...",
                            "search": "Buscar:",      
                    },
                "searching": true,
                "paging": true,
                "processing": true,  
                             
                /*fixedHeader: {
					header: true,
					footr: true
				}*/
                    
                    
                });
           });
    

</script>
  

{% endblock %}
