{% load static %}
<!--
<div class="imgAnimationMain" id="imgAnimationMain" style="display:inline-block;">
    <span class="navAgentesImg"> <img src="{% static 'lib/images/navAgentesC.png' %}"  style="width:100%;"></span>
    <span class="navAgentesImg"> <img src="{% static 'lib/images/navAgentesC.png' %}" style="width:100%;"> </span>
</div>
-->

<div class="ag-wave">
    <div class="ag-format-container">
  
    </div>
  </div>