{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Quálitas</title>

</head>
<body class="body" style="padding:0; margin:0; display:block; background:#EEEEEE; -webkit-text-size-adjust:none" bgcolor="#ffffff">
<table align="center" cellpadding="0" cellspacing="0" class="force-full-width" height="100%" >
    <tr>
        <td align="center" valign="top" bgcolor="#EEEEEE"  width="100%">
            <center>
                <table cellpadding="0" cellspacing="0" width="600" class="w320" style="margin: 0 auto;background: background-size:cover; background-position: center; background-repeat: no-repeat;" bgcolor="#FFFFFF">
                    <tr>
                        <td align="center" valign="top">
                            <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" style="margin:0 auto;" >
                                <tr>
                                    <td style="font-size: 30px; text-align:center;padding: 0px 0 0 0">
                                        <img src="https://atencionaclientesqualitas.mx/static/lib/images/atcMail.png" width="600"  alt="Qualitas">
                                    </td>
                                </tr>
                            </table>
                            <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" >
                                <tr>
                                    <td>
                                        <center>
                                            <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="60%" class="responsive">
                                                <tr>
                                                    <td class="headline" style="color:#942e83; text-align: center; font-weight: 600; font-size: 22px; ">
                                                        <br>
                                                        Gracias por registrarte
                                                        <br>
                                                        <br>
                                                        <span style="text-transform: uppercase; width: 100%; text-align: center; display: inline-block; font-size: 22px; color:#0096ae;" class="name">{{name}}<span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center>
                                            <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="60%" class="responsive">
                                                <tr>
                                                    <td style="color:#942e83; text-align: center; line-height: 1.5; font-weight: 600; font-size: 20px;">
                                                        <br>
                                                        Tu información ha sido guardada de manera correcta.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#0096ae; text-align: center; line-height: 1.5; font-weight: 600; font-size: 20px;">
                                                        <br>
                                                        Te esperamos el próximo
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#942e83; text-align: center; line-height: 1.5; font-weight: 600; font-size: 20px;">
                                                        6 de Mayo
                                                        <br><br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#0096ae; text-align: center; line-height: 1.5; font-weight: 600; font-size: 20px;">
                                                        De 08:30 a 14:00 hrs
                                                        <br><br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#942e83; text-align: center; line-height: 1.5; font-weight: 600; font-size: 20px;">
                                                        (Horario CDMX)
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#942e83; text-align: center; line-height: 1.5; font-weight: 600; font-size: 16px;">
                                                        Para ingresar al evento da clic aquí:
                                                    </td>
                                                </tr>
                                            </table>
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align:center;color:#942e83;text-align: center;line-height: 1.5;font-weight: 600; font-size:16px;">
                                        <br>
                                        <div style="width: 100%; text-align:center;"><!--[if mso]>
                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atencionaclientesqualitas.mx/" style="height:50px;v-text-anchor:middle;width:300px;" arcsize="8%" stroke="f" fillcolor="#3e99ae">
                                            <w:anchorlock/>
                                            <center>
                                            <![endif]-->
                                            <a href="https://atencionaclientesqualitas.mx/" style="background-color:#3e99ae;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:300px;-webkit-text-size-adjust:none;">Entrar</a>
                                            <!--[if mso]>
                                            </center>
                                            </v:roundrect>
                                            <![endif]-->
                                        </div>
                                        <br>
                                        <br>
                                        ¿Quieres agregar este evento a tu calendario?
                                        <br>
                                        <br>
                                        <div style="width: 100%; text-align:center;"><!--[if mso]>
                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atencionaclientesqualitas.mx/static/qualitas-evento-atencion-clientes-2022.ics" style="height:50px;v-text-anchor:middle;width:300px;" arcsize="8%" stroke="f" fillcolor="#3e99ae">
                                            <w:anchorlock/>
                                            <center>
                                            <![endif]-->
                                            <a href="https://atencionaclientesqualitas.mx/static/qualitas-evento-atencion-clientes-2022.ics" style="background-color:#3e99ae;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:300px;-webkit-text-size-adjust:none;">Agregar a mi calendario</a>
                                            <!--[if mso]>
                                            </center>
                                            </v:roundrect>
                                            <![endif]-->
                                        </div>
                                        <br>
                                        <br>
                                        Asegúrate de conectarte al evento usando
                                        <br>
                                        los navegadores
                                        <br>
                                        <br>
                                        <br>
                                        <img src="https://atencionaclientesqualitas.mx/static/lib/images/chrome.png" width="60"  alt="Chrome" style="margin:0 10px; ">
                                        <img src="https://atencionaclientesqualitas.mx/static/lib/images/edge.png" width="60"  alt="Edge" style="margin:0 10px; ">
                                        <br>
                                        <br>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align:center;text-align: center;line-height: 1.5;font-weight: 600;font-size:14px; color:#0096ae;">
                                        <br>
                                        Para cualquier duda o comentario,
                                        <br>
                                        favor de contactar a:
                                        <br> <br><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align:center;text-align: center;line-height: 1.5;font-weight: 600;font-size:14px; color:#0096ae;">
                                        Andrea Arciniega 
                                        <br>
                                        Coordinadora De Eventos Institucionales
                                        <br>
                                        qeventos2@qualitas.com.mx 
                                        <br>
                                        Cel: 55 80 07 50 18 
                                        <br>
                                        <br><br>
                                        Claudia Guzmán Sotomayor
                                        <br>
                                        Coordinadora De Eventos Institucionales
                                        <br>
                                        qeventos3@qualitas.com.mx
                                        <br>
                                        Cel: 55 79 99 92 97
                                        <br>
                                        <br>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                            <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" >
                                <tr>
                                    <td style="font-size: 30px; text-align:center;padding: 0px 0 0px 0">
                                        <img src="https://atencionaclientesqualitas.mx/static/lib/images/qualitas.png" width="90"  alt="Qualitas" style="margin: 0 auto;">
                                    </td>
                                </tr>
                            </table>
                            <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" >
                                <td style="color:#3e99ae; font-size:14px;line-height: 1.35;" class="footer">
                                    <br><br>
                                    © Copyright 2022 Qualitas.
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </td>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
</html>
