{% load static %}
<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-3 col-lg-3"> <!-- order-lg-1 -->
                <div class="site-branding">
                </div><!-- .site-branding -->
            </div><!-- .col -->

            <div class="col-9 col-lg-9"> <!--order-2 order-lg-2 -->
                <nav class="site-navigation">
                    <!-- Hamburger Menu -->
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->

                <ul>
                    <li>
                        <a  class="nav-link font-weight-bold"  onclick="lastUsers();" id="totalContactos"><i class="fas fa-user-alt" style="margin-bottom:0rem;"></i></a>
                    </li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
              </nav>
            </div><!-- .col -->
        </div> <!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .header-bar -->
