{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SEMINARIO DE ATENCIÓN A CLIENTES QUALITAS</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Chatbot-->
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <!-- !Chatbot -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9RFQ00HYXJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9RFQ00HYXJ');
</script>


    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">-->
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- FontAwesome CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <!-- <link rel="stylesheet" href="{% static 'lib/css/font-awesome.min.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Sweetalert2 -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <!-- Swiper CSS -->
    <!--<link rel="stylesheet" href="{% static 'lib/css/swiper.min.css' %}">-->

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'lib/style.css' %}?version=20220323080007">
    <link rel="stylesheet" href="{% static 'lib/css/spirals/spiralSP1.css' %}?version=2022042418200223"> 

    <script src="{% static 'lib/js/custom.js' %}"></script>
    <!--Iconos Agenda-->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <!--Axios -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'lib/images/favicon.ico'%}" />

    {% block addCss %}
    {% endblock %}
    
    <style>
      {% block style %}
      {% endblock %}

    </style>

</head>
<body background='url("lib/images/fondo.jpeg")'>
<header class="site-header">

  <div class="bodyPage">
    {% block body %}
    {% endblock   %}
  </div>

</header><!-- .site-header -->

  {% block section1 %}
  {% endblock   %}


  {% block endpage %}
  {% endblock   %}


<script type='text/javascript' src="{% static 'lib/js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/masonry.pkgd.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.collapsible.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/swiper.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.countdown.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/circle-progress.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.countTo.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/custom.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/streamTab.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/alerts.js' %}?version=2022110013"></script>
<script type='text/javascript' src="{% static 'lib/js/alert_validate.js'%}?version=2022110013"></script>
<script type='text/javascript' src="{% static 'lib/js/counter.js' %}?version=20220221114503"></script>

<script type='text/javascript' src="{% static 'lib/js/questionPonente.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/quizz.js' %}?version=2022110011"></script>
<script type='text/javascript' src="{% static 'lib/js/quizzActivate.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/openning.js' %}?version=20220221114506"></script>
<!--<script type='text/javascript' src="{% static 'lib/js/spiral2.js' %}?version=20220221114506"></script>-->
<script type='text/javascript' src="{% static 'lib/js/spirals/spiralsSP1.js' %}?version=20220221114504"></script>
<script type='text/javascript' src="{% static 'lib/js/doyleSpirals.js' %}?version=2022022111450145"></script>

<script>
/*
  document.getElementById("imgAnimationMain").animate([
  { transform: 'translateX(0%)' },
  { transform: 'translateX(50%)' },
  { transform: 'translateX(100%)' },
  { transform: 'translateX(50%)' },

  ], {
    duration: 7000,
    iterations: Infinity
  });
  */

  </script>


  {% block scripts %}
  
  {% endblock   %}

</body>
</html>