{% extends 'home.html'%}

{% load static %}
{% load widget_tweaks %}

{% block addCss%}

<link rel="stylesheet" href="{% static 'lib/css/login/login.css' %}?version=20220119224002">

{% endblock%}

{% block section1 %}
    <section class="ftco-section">
      {% include 'opcion2.html' %}
      <!-- <br>-->
        <div class="container  justify-content-center containerIndexAgentes topAgentes">
          <br>
            <div class="row" style="display:grid; justify-items:center;">              
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
               <!-- <img src="{% static 'lib/images/logoAgentesF2.png' %}" alt="logo-odq-2022" class="imgODQ" id="logoIndexBGCurve2">               
               -->
              </div>
            </div>
            <h2 class="font-weight-bolder text-8 text-uppercase text-center labelFecha" style="color:#948d96;"> Seminario </h2>
            <!--<img src="{% static 'lib/images/AtencionClientes.jpg' %}" style="margin-left: 35%;" width="30%" height="30%" >-->
            <!-- <a href="https://picasion.com/"><img src="https://i.picasion.com/pic92/d83684ae4b4e089fe97c09a727b1a3fa.gif" style="margin-left: 35%;" width="300" height="377" border="0" alt="https://picasion.com/" /></a><br />-->
            <a href="https://picasion.com/"><img src="https://i.picasion.com/pic92/91a47cea4e7b369b1cc0d3edcdcc5792.gif" style="margin-left: 42%;" width="15%" height="5%" border="0" alt="https://picasion.com/" /></a>
            <br /><br />
            <img src="{% static 'lib/images/textoA.jpg' %}" style="margin-left: 30%;" width="40%" height="20%" >
            <br /><br />
            <h2 class="font-weight-bolder text-8 text-uppercase text-center labelFecha" style="color:#948d96;"> 6 de mayo 2022 </h2>
            <h2 class="font-weight-bolder text-8 text-uppercase text-center labelFecha" style="color:#948d96;"> 08:30 a 14:00 hrs </h2>
            <h2 class="font-weight-bolder text-8 text-uppercase text-center labelFecha" style="color:#948d96;">(Horario CDMX) </h2>
            <div class="container formulario">
              <br />
            <div class=" text-center col-lg-12 p-0  align-items-center justify-content-center  d-flex p-0">
              <h3 class="font-weight-bolder text-8 text-uppercase mb-3 labelFecha" style="color:#0096AE;">El evento inicia en: </h1>
            </div>

            <div class="col-lg-12 p-0  align-items-center justify-content-center  d-flex p-0">
              <ul class="contadorinicio col-lg-12 p-0  align-items-center justify-content-center  d-flex p-0" id="countCard">
                <li>
                  <h3 class="conteoinicio countNumber" id="dias">00</h3>
                  <span class="lab">días</span>
                </li>
                <li>
                  <h3 class="conteoinicio countNumber" id="horas">00</h3>
                  <span class="lab">horas</span>
                </li>
                <li>
                  <h3 class="conteoinicio countNumber" id="min">00</h3>
                  <span class="lab">min</span>
                </li>
                <!--<li>
                  <h3 class="conteoinicio countNumber" id="seg">00</h3>
                  <span class="lab">seg</span>
                </li>-->
              </ul>
            </div>
          
            <br>
            <div class="calendar" style="display:grid; justify-content:center;">
                  <a href="{% static 'qualitas-evento-atencion-clientes-2022.ics' %}">
                    <button  type="button" onclick="calendario()"
                      class="btn btnCal"><i class="fas fa-calendar-alt"></i> Agregar a mi calendario
                    </button>
                  </a>
            </div>
            {% include 'info.html' %}
          </div>
        </div>
        {% include 'opcion2.html' %}
    </section>

{% endblock %}

{% block scripts %}
<script>

  $(document).ready(function() {
    openning();
  });
      getTime();
      /*document.getElementById("imgLogoIndex").animate([
        { transform: 'scale(1.2)' }      
        ], {
          duration: 4000,
          iterations: Infinity
        });*/
 
     
        document.getElementById("countCard").animate([
        { transform: 'scale(1.2)' }      
        ], {
          duration: 4000,
          iterations: Infinity
        });
        
        /*document.getElementById("headerQ").animate([
        { transform: 'scale(1.2)' }      
        ], {
          duration: 4000,
          iterations: Infinity
        });*/

      document.getElementById("imgLogoQ").animate([
        { transform: 'scale(1.25)' }      
        ], {
          duration: 4000,
          iterations: Infinity
        });

  </script>
{% endblock   %}