{% load static %}
<div class="container" style="display:grid; justify-content:center; justify-items: center; padding-bottom:30px;">
    <br>
    <p class="textContact text-center">  <strong> Para cualquier duda o comentario, favor de contactar a: </strong> </p>
    <div class="container containerFirmas">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 contFirma">
            <div class="contactInfo">
              <strong>Andrea Arciniega</strong>
              <br>
                Eventos Institucionales
              <br>
                qeventos2@qualitas.com.mx
                <br>
                Cel: 55 80 07 50 18
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 contFirma">
            <div class="contactInfo">
              <strong>Claudia Guzmán </strong>
              <br>
                Eventos Institucionales
              <br>
                qeventos3@qualitas.com.mx
                <br>
                Cel: 55 79 99 92 97
            </div>
          </div>
      </div>
    </div>
    <h4 class="text-center qualiText" style="font-size: 1rem;"> Aseguramos autos Cuidamos personas</h4>
    <img src="{% static 'lib/images/logoQ-color.png' %}" alt="logoQ" id="imgLogoQ" style="width: 245px; height: 100px;">
</div>    
