{% extends 'home.html'%}

{% load static %}
{% load widget_tweaks %}

{% block addCss%}

<link rel="stylesheet" href="{% static 'lib/css/login/login.css' %}?version=20220119224002">

{% endblock%}

{% block section1 %}
    <section class="ftco-section2">
        {% include 'animationHeader.html' %}
        <div class="container">
            <div class="row justify-content-center justify-items-center contLgInCn2">                
                <div class="col-md-6 col-lg-6" style="display:table;">
                  {% include 'loginInicioConf.html' %}
                </div>              
                <br>
                <div class="col-md-6 col-lg-6 contLogin">
                    <div class="login-wrap py-5" style="width:85%;">
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="text-center text-white mb-0" style="font-size:2em;"> Inicio de sesión </p>                            
                        </div>
                        <br><br>
                        <form action="" class="login-form" method="post">
                            {% csrf_token %}                                                          
                            {% if form.non_field_errors %}
                                <ul class='form-errors loginErrors'>
                                    {% for error in form.non_field_errors %}
                                        <!--<li class="loginErrorLi"> * {{ error }}</li>-->
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>                            
                                {{ form.username | add_class:"form-control" | add_class:"text-white" | add_class:"inputForm" |  attr:"placeholder: Correo Electrónico" }}    
                                <!--<input type="text" class="form-control" placeholder="Correo Electrónico" required>-->
                                </div>
                            <div class="form-group" style="display:flex; align-items: center; display:none">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-lock"></span>
                                </div>

                                {{ form.password | add_class:"form-control" | attr:"placeholder:Contraseña" | attr:"value:23355" }}
                                <i class="fas fa-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer; color:white;"></i>
                                <!--<input type="password" class="form-control" placeholder="Contraseña" required>-->
                            </div>
                                    <br>
                            <div class="form-group">
                                <button type="submit" class="btn btnLogin form-control rounded submit px-3"> Entrar </button>
                            </div>
                        </form>
                        <div class="w-100 text-center mt-4 text"></div>
                    </div>
                </div>

            </div>
            <br>
            {% include 'info.html' %}
        </div>
        {% include 'footerQualitas.html' %}
    </section>

{% endblock %}

{% block scripts %}
<script>

    document.getElementById("imgInicio").animate([
    { transform: 'scale(1.5)' }      
    ], {
      duration: 4000,
      iterations: Infinity
    });

    document.getElementById("imgLogoQ").animate([
    { transform: 'scale(1.20)' }      
    ], {
      duration: 4000,
      iterations: Infinity
    });    
    
    togglePassword = document.getElementById("togglePassword");
    password = document.getElementById("id_password");
    console.log(password);
    console.log(password);

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);        
        // toggle the icon
        //this.classList.toggle("fa-eye-slash");

        if(togglePassword.classList.contains("fa-eye-slash"))
        {
            togglePassword.classList.remove("fa-eye-slash");
            togglePassword.classList.add("fa-eye");    
        }
        else
        {
            togglePassword.classList.remove("fa-eye");
            togglePassword.classList.add("fa-eye-slash");
        }
    });

</script>
{% endblock   %}
