{% extends 'home.html'%}

{% load static %}
{% load widget_tweaks %}

{% block addCss%}

<link rel="stylesheet" href="{% static 'lib/css/login/login.css' %}?version=202201240912">

{% endblock%}

{% block section1 %}
    <section class="ftco-section2">
        {% include 'animationHeader.html' %}
        <div class="container">
            <div class="row justify-content-center justify-items-center contLgInCn2">                
                <div class="col-md-6 col-lg-6" style="display:table;">
                <!--  {% include 'loginInicioConf.html' %} -->
                <img src="{% static 'lib/images/AtencionClientes.jpg' %}" style="margin-left: 35%;" width="30%" height="30%" >
                 <img src="{% static 'lib/images/textoA.jpg' %}" style="margin-left: 15%;" width="70%" height="40%" >
                
                </div>
                <div class="col-md-6 col-lg-6 contLogin">
                    <div class="login-wrap py-5" style="width:80%;">
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="text-center text-white mb-0" style="font-size:2em;"> Valida tu información </p>                            
                        </div>
                        <form action="" method="post" id="validateForm">
                            {% csrf_token %}                                                          
                            <div class="form-row ">
                                <div class="form-group col">
                                    <div id="alert_placeholderValidate" class="contCenter">                        
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="id" class="form-control inputValidate" placeholder="id" style="display:none;" hidden>                                             
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>      
                                    <input type="text" id="email" class="form-control text-white inputForm" placeholder="Introduce tu correo electrónico" onkeyup="validarCorreo(this);">                      
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"></div>      
                                    <input type="text" id="name" class="form-control inputValidate" placeholder="Nombre completo">                      
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"></div>      
                                    <input type="text" id="office" class="form-control  inputValidate" placeholder="Oficina">                      
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"></div>      
                                    <input type="text" id="job" class="form-control  inputValidate" placeholder="Puesto">                      
                            </div>
                            <div class="form-group">
                                <span style="margin-left:30px;">
                                    <input type="checkbox" class="form-check-input" id="aviso">
                                    <label class="form-check-label text-white" for="aviso"> He leído el 
                                    <a data-toggle="modal" data-target="#modal2" style="color:#0096ae; font-weight:bold;"> Aviso de Privacidad</a>
                                    </label>
                                </span>
                              </div>
                            <div class="form-group">
                                <button type="submit" id="btnValidar" class="btn btnLogin form-control rounded submit px-3" style="display:none;"> Registrar </button>
                            </div>
                        </form>
                        <div class="w-100 text-center mt-4 text"></div>
                    </div>
                </div>
            </div>
            <br>
            {% include 'info.html' %}
            <br>
        </div>
        {% include 'footerQualitas.html' %}
    </section>

		<!--Aviso de privacidad -->
		<div class="col-lg-6 col-md-6 mb-4" style="display: grid;justify-content: center;">

			<!--Modal: Name-->
			<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">

					<!--Content-->
					<div class="modal-content fondoCardSpeaker">

						<!--Body-->
						<div class="modal-body mb-0 p-0">
							<div class="embed-responsive embed-responsive-16by9 z-depth-1-half" style="display: -webkit-box;">

								<div class="row cardSpeaker">
									<div class="col-md-12 col-lg-12 col-sm-12 col-12 mt-3 mb-3">
										<div class="mask  d-flex justify-content-center align-items-center">
											<div class="text-center  mx-5 wow fadeIn">
												<h5 class="titleSpeaker"> AVISO DE PRIVACIDAD <br>
                          (Vigente a partir del 28 de junio de 2018) </h5>
										</div>
									</div>
										<div class="container">
											<div class="container textSpeaker" style="display:grid; justify-content:center;">
                        <p> Este Aviso de Privacidad aplica a los Datos Personales proporcionados por Usted mediante solicitudes 
                          de seguro, cuestionarios, a través de terceros autorizados por Quálitas Compañía de Seguros, S.A. de C.V. 
                          (en adelante Quálitas), por vía electrónica, óptica, sonora, visual o cualquier otro medio o tecnología, 
                          así como los proporcionados en virtud de la relación jurídica que tengamos celebrada o que en su caso 
                          celebremos. Para efectos del presente Aviso:
                        </p>                        
                        <p>
                          <ul>
                            <li>
                              Se entenderá por “Clientes”: proponentes, solicitantes, contratantes, asegurados, beneficiarios, terceros 
                              afectados (cualquier persona que se encuentre dentro de un vehículo asegurado por Quálitas en el momento en 
                              el que se actualice un siniestro), conductor de vehículo no asegurado por Qualitas, fideicomitentes, fideicomisarios, 
                              proveedores de recursos y visitantes de la página pública de Quálitas.
                            </li>
                            <li>                            
                            Por el término “terceros autorizados” o “terceros afectados” no deberá entenderse el concepto de “tercero” que señala 
                            la ley aplicable.
                          </li>
                          </ul>
                        </p>
                        <p><strong> 1.IDENTIDAD Y DOMICILIO DEL RESPONSABLE: </strong>QUÁLITAS COMPAÑÍA DE SEGUROS, S.A. DE C.V., con domicilio en Avenida San Jerónimo 
                          número 478, Colonia Jardines del Pedregal, Delegación Álvaro Obregón, C.P. 01900, Ciudad de México.
                        </p>
                        <p><strong>2. INFORMACIÓN QUE RECABA DE LOS TITULARES (DATOS PERSONALES SOMETIDOS A TRATAMIENTO):</strong>Quálitas hace de su conocimiento 
                          que tratará sus Datos Personales (datos de identificación, datos laborales, datos académicos, datos de tránsito y migratorios, 
                          así como datos sobre procedimientos administrativos seguidos en forma de juicio, judiciales y/o jurisdiccionales), Datos 
                          Patrimoniales y Datos Financieros, que en su caso se recaben, así como las imágenes captadas por cámaras de video vigilancia 
                          para los fines indicados en el presente Aviso de Privacidad.
                        </p>
                        <p><strong>3. SEÑALAMIENTO EXPRESO DE LOS DATOS SENSIBLES QUE TRATARÁ:</strong> Quálitas tratará también datos sensibles (datos de salud, características 
                          personales y físicas y género), que en su caso se requieran.
                        </p>
                        <p><strong>4. CON QUÉ FINES DARÁ TRATAMIENTO A LOS DATOS PERSONALES RECABADOS:</strong></p>
                        <p><strong> 4.1 FINALIDADES PRIMARIAS DEL TRATAMIENTO.-</strong> Los datos personales antes enunciados, incluso aquellos de carácter sensible, se tratarán 
                            para todos los fines vinculados con la relación jurídica que tengamos con Usted y podrán ser:
                        </p>
                        <p>
                          <ul>
                            <li>
                             <strong>Finalidades del tratamiento de datos personales de Clientes:</strong> 
                              La evaluación de su solicitud  de seguro y selección de riesgos, en 
                              su caso, emisión del contrato de seguro, el trámite a las reclamaciones de siniestros, venta de salvamentos, administración, 
                              mantenimiento o renovación de la póliza de seguro, realizar pagos, prevención de fraudes y operaciones ilícitas, estudios y estadística, 
                              fomento a la educación vial, así como para todos los fines relacionados con el cumplimiento de nuestras obligaciones de conformidad 
                              con lo establecido en la Ley sobre el Contrato de Seguro y en la normatividad aplicable. 
                            </li>
                            <li>                        
                            <strong>Finalidades del tratamiento de datos personales de Agentes de Seguros:</strong>
                             La realización de pagos, cumplimiento de obligaciones tributarias, 
                              capacitación, así como para todos los fines vinculados con nuestra relación contractual.
                            </li>
                            <li>                                 
                            <strong>Finalidades del tratamiento de datos personales de empleados y/o apoderados de Agentes y de personas morales a que se refiere el artículo 
                              102 de la Ley de Instituciones de Seguros y de Fianzas:</strong> Capacitación
                            </li>
                            <li>                                 
                            <strong>Finalidades del tratamiento de datos personales de Visitantes:</strong> El registro, control y seguridad dentro de las instalaciones de Quálitas, 
                              a través de sistemas de circuito cerrado de vigilancia.
                            </li>
                          </ul>
                        </p>
                        <p><strong>4.2 FINALIDADES SECUNDARIAS DEL TRATAMIENTO.-</strong> Cuando Usted sea un tercero afectado de una póliza corporativa (contratada por una empresa) 
                          o cliente, sus datos personales podrían ser tratados para las siguientes finalidades secundarias:
                          <ul>
                            <li>
                          Cuando nuestros asegurados, directamente o a través de nuestros intermediarios de seguros, nos soliciten información de los terceros 
                          afectados por algún siniestro, con el fin de analizar el siniestro, y en su caso llevar a cabo planes, pláticas y programas de prevención 
                          de riesgos.
                        </li>
                        <li>      
                          En el caso de flotillas, nuestros asegurados o nuestros intermediarios de seguros nos soliciten información para determinar porcentajes 
                          de siniestralidad, con el fin de definir si en la renovación se incrementará el costo de la póliza o puede otorgarse un descuento.
                        </li>
                        <li>      
                          Con fines de mercadotecnia, publicidad o prospección comercial por medios físicos o electrónicos, ya sea personalmente o por conducto de 
                          intermediarios de seguros.
                        </li>
                      </ul>
                            En caso de que no desee que sus datos personales se utilicen para alguno (o todos) estos fines secundarios, indíquelo marcando con una “X” 
                            la casilla que aparece a la izquierda de cada inciso. Si la(s) casilla(s) no se marcan, usted manifiesta su consentimiento para que tratemos 
                            sus datos para dichas finalidades secundarias.
                          <br><br>
                          La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que 
                          solicita o contrata con nosotros.
                        </p>
                        <p><strong>5. TRANSFERENCIAS DE DATOS:</strong></p>
                        <p>5.1 Por mandato legal, los datos a que se refiere este aviso podrán ser transferidos a:
                          <br>
                          Autoridades competentes con el fin de dar cumplimiento a las disposiciones de la Ley de Instituciones de Seguros y de Fianzas.<br>
                          Autoridades judiciales mexicanas, con la finalidad de dar cumplimiento a notificaciones, requerimientos u oficios de carácter judicial.<br>
                          Autoridades financieras mexicanas, con la finalidad de dar cumplimiento a las obligaciones derivadas de leyes o tratados internacionales como 
                          institución de seguros, obligaciones tributarias, así como para el cumplimiento de notificaciones o requerimientos oficiales.<br>
                          IMSS, con la finalidad de dar cumplimiento a obligaciones contenidas en la legislación de seguridad social.<br>
                          Instituciones, organizaciones o entidades del sector asegurador, sociedades o asociaciones para fines de prevención de fraudes, de operaciones ilícitas y la selección de riesgos. </p>
                        <p>5.2 Por petición de clientes corporativos (personas morales), que requieran datos de terceros afectados con el fin de preparar reportes o llevar a cabo estadísticas, 
                          los datos a que se refiere este aviso podrán ser transferidos a:<br>
                
                          Intermediarios en operaciones de seguros, para determinar porcentajes de siniestralidad, con el fin de definir si en la renovación se 
                          incrementará el costo de la póliza o puede otorgarse algún descuento, así como para preparar reportes, estudios o estadísticas para sus 
                          clientes, en relación con los destinatarios o beneficiarios finales de las pólizas de seguro (como Usted, si fuere el caso).<br>
                
                          En caso de que no desee que sus datos personales sean transferidos a intermediarios de seguros, indíquelo marcando con una “X” 
                          la casilla que aparece a la izquierda de este párrafo. Si la casilla no se marca, usted manifiesta su consentimiento para que transfiramos sus datos a intermediarios de seguros.<br>
                          
                          En caso de que realicemos alguna transferencia adicional que requiera su consentimiento expreso, se recabará el mismo previamente.
                         <br>
                         En caso de que realicemos alguna transferencia adicional que requiera su consentimiento expreso, se recabará el mismo previamente.
                      </p>
                        <p> <strong>6. MECANISMOS PARA SOLICITAR EL EJERCICIO DE LOS DERECHOS ARCO Y REVOCACIÓN DEL CONSENTIMIENTO, ASÍ COMO OPCIONES Y MEDIOS QUE OFRECE 
                          QUÁLITAS PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS PERSONALES:</strong>
                        </p>
                        <p> Usted podrá solicitar al Departamento de Datos Personales de Quálitas, el Acceso, Rectificación, Cancelación y Oposición al tratamiento 
                          de sus Datos Personales, así como la limitación de su uso y revocación del consentimiento, de forma escrita en el domicilio señalado en el 
                          numeral I del presente Aviso o al correo electrónico datospersonales@qualitas.com.mx, de conformidad con lo establecido en los Procedimientos 
                          que se encuentran disponibles en la página de internet www.qualitas.com.mx en la sección "Aviso de Privacidad". En los Procedimientos que 
                          aparecen al final de dicho aviso, usted encontrará las vías de respuesta a las diferentes solicitudes, dependiendo del contenido de las mismas.<br>
                          Además del ejercicio de sus derechos de Revocación o ARCO, usted podrá limitar el uso o divulgación de sus datos personales, mediante su inscripción 
                          en el Registro Público de Usuarios Personas Físicas (REUS). </p>
                        <p><strong>7. COOKIES:</strong></p>
                        <p>“Cookies” son archivos de datos que se almacenan en el disco duro del equipo de cómputo o del dispositivo de comunicaciones electrónicas de un 
                          usuario al navegar en un sitio de internet específico, el cual permite intercambiar información de estado entre dicho sitio y el navegador del 
                          usuario. La información de estado puede revelar medios de identificación de sesión, autenticación o preferencias del usuario, así como cualquier 
                          dato almacenado por el navegador respecto al sitio de internet.
                          <br>
                          Por lo anterior, Quálitas le informa, que en todo momento, puede deshabilitar el uso de estos mecanismos, de acuerdo a las instrucciones que cada 
                          empresa propietaria de los browsers (navegador o visor de internet) tiene implementado para activar y desactivar las citadas “Cookies”.
                          <br>
                        </p>
                        <p> <strong>8. INFORMACIÓN DEL ÁREA DE DATOS PERSONALES:</strong></p>
                        <p>
                          Usted podrá contactar al Departamento de Datos Personales, para resolver dudas o comentarios respecto de su(s) procedimiento(s), a través de los siguientes medios:
                          <br>                        
                          Correo electrónico: datospersonales@qualitas.com.mx
                          <br>
                          Escrito libre dirigido al Departamento de Datos Personales, con domicilio en Avenida San Jerónimo número 478, Colonia Jardines del Pedregal, Delegación Álvaro 
                          Obregón, C.P. 01900, en la Ciudad de México.
                          <br>
                          Horario de atención: 09:00 a 14:00 horas
                          <br>
                        </p>
                        <p><strong>9. MEDIOS A TRAVÉS DE LOS CUALES SE ENCUENTRA A SU DISPOSICIÓN EL AVISO DE PRIVACIDAD Y SUS ACTUALIZACIONES:</strong></p>
                        <p>
                          Quálitas podrá modificar en cualquier tiempo este Aviso de Privacidad, notificándolo mediante publicación en su sitio de Internet www.qualitas.com.mx, por lo que le recomendamos lo visite periódicamente, o bien mediante comunicación al Titular de los Datos Personales, vía electrónica o por cualquier otro medio.</p>
                        <p></p>											
											</div>

										</div>
									</div>
								</div>
							</div>

						</div>

						<!--Footer-->
						<div class="modal-footer justify-content-center">
							<button type="button" class="btn btnCal" data-dismiss="modal">Cerrar</button>
						</div>

					</div>
					<!--/.Content-->

				</div>
			</div>
		</div>


{% endblock %}

{% block scripts %}

    <script>

      $(document).ready(function() {
        openning();
      });

      /*
        document.getElementById("imgLogin").animate([
        { transform: 'scale(1.5)' }      
        ], {
          duration: 4000,
          iterations: Infinity
        });
    
        document.getElementById("imgLogoQ").animate([
        { transform: 'scale(1.20)' }      
        ], {
          duration: 4000,
          iterations: Infinity
        });   
        */

        idInput=document.getElementById("id");
        nameInput=document.getElementById("name");
        officeInput=document.getElementById("office");
        jobInput=document.getElementById("job");
        emailInput=document.getElementById("email");

        var id, name, office,job,email;

        function validarCorreo(e){
            espacios(e);
            email = e.value;
            emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;        
            if (emailRegex.test(email)) {
                console.log("valido");
                getInfo(email);
            } else {
                console.log("incorrecto");
                clearInputs();
            }
        }

        function espacios(e) {
            var tecla=e.value;    
            e.value=tecla;
            e.value = e.value.replace(' ', '');
        }

        function getInfo(email)
        {
            json={"email": email};  
            console.log(json);
            $.ajax({
                url:'{% url 'getInfoValidate' %}',
                type: 'POST',
                data: json,
                dataType:'json'
            }).done( function (data) {
                if(!data.hasOwnProperty('error'))
                {
                    console.log(data.user);
                    $("#id").val(data.user.id);
                    $("#name").val(data.user.name);
                    $("#office").val(data.user.office);
                    $("#job").val(data.user.job);
                    $("#btnValidar").css("display","block");
                    $("#id").css("display","block");
                }
                else
                {
                    //errorValidate("Error usuario no encontrado");
                    clearInputs();
                }
            }).fail(function (jqXHR, textStatus,errorThrown)
            {
                console.log("Error e");
                console.log(textStatus+ ':'+errorThrown);
            }).always(function (data) {
            });        
        }

        function clearInputs()
        {
            $("#name").val("");
            $("#office").val("");
            $("#job").val("");
            $("#btnValidar").css("display","none");
        }

        $('#validateForm').on('submit', function (e) {
            e.preventDefault();        
            var parameters= $(this).serializeArray();  
            id=idInput.value;
            name=nameInput.value;
            office=officeInput.value;
            job=jobInput.value;
            email=emailInput.value;       
            var isChecked = document.getElementById('aviso').checked;     
            data={"id":id,"name":name,"office":office,"job":job,"email":email};
            if(!isChecked){
                errorValidate("Por favor. Lee el aviso de privacidad");
            }
            else{        
                $.ajax({
                    url:'{% url 'saveUserInfo' %}',
                    type: 'POST',
                    data: data,
                    dataType:'json'
                }).done( function (data) {
                    if(!data.hasOwnProperty('error'))
                    {
                        console.log(data);
                        validateOk();
                        location.href ="confirmacion";
                    }
                    else
                    {
                        errorValidate("Error al guardar los datos");
                    }
                }).fail(function (jqXHR, textStatus,errorThrown)
                {
                    console.log("Error e");
                    console.log(textStatus+ ':'+errorThrown);
                }).always(function (data) {
                });
            }
        });     

    </script>
{% endblock   %}
