{% load static %}
<div style="display:table-cell;">
    <div class="container" > <!--style="margin-top:40px;"-->
        <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 containerLogoIndex" style="align-self:center;">
                <!--<img src="{% static 'lib/images/curvaBGEscale2.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="logoIndexBGILC">
                <img src="{% static 'lib/images/logocon1.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="imgLogoIndexAgentesBGILC">   -->
               <!--<img src="{% static 'lib/images/AtencionClientes.jpg' %}"  width="80%" height="90%" >-->
               <!-- <a href="https://picasion.com/"><img src="https://i.picasion.com/pic92/d83684ae4b4e089fe97c09a727b1a3fa.gif"  width="200" height="250" border="0" alt="https://picasion.com/" /></a>-->
               <a href="https://picasion.com/"><img src="https://i.picasion.com/pic92/77c459e36b772641950fe7ffdb39bc5f.gif" width="100%" height="160" border="0" alt="https://picasion.com/" /></a>
               <br />
                <img src="{% static 'lib/images/textoA.jpg' %}"  width="100%" height="100%" >               
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        </div>  
        <h3 class="text-center text-weight-bold" style="color:#0096AE; margin-top:25px; font-size: 250%;">  6 de mayo 2022 </h3>
        <h4 class="text-center text-weight-bold" style="color:#0096AE; font-size: 250%;"> 08:30 a 14:00 hrs </h4>
        <h4 class="text-center text-weight-bold" style="color:#0096AE; font-size: 250%;"> (Horario CDMX) </h4>
    </div>
</div>