{% extends 'home.html'%}
{% load static %}
{% load widget_tweaks %}
{% block section1%}


<div class="upcoming-events-outer">
    <div class="contStreaming">
        <div class="container" style="display:flex; justify-items:center; justify-content:center; margin-top:30px;">
            <img src="{% static 'lib/images/logoODQs-2022.png' %}" style="height:140px;"> 
        </div>
        <br>
        <div class="streaming h-100">
                <div class="videoStreaming containerFirmas" style="width:100%;">
                    <button type="button" class="btn btnCal" onclick="Registro10()"> Actualizar Preguntas </button>
                </div>
        </div>
        <br>
        <div class="container" style="display:flex; justify-items:center; justify-content:center;">
            <img src="{% static 'lib/images/logoQ-color.png' %}" style="height:100px;"> 
        </div>

    </div>

{% endblock%}

{% block scripts%}

<script>
    //Registro10();

    function Registro10()
    {
        console.log("sd");
        var last_name=
        [ 
            'OSUNA LUGO',
            'MEDINA BERRELLEZ',
            'PINTO SIRIA GABRIELA',
            'NAJAR DIAZ',
            'PEREYDA GAMEZ',
            'DAVIZON ESPINOZA',
            'ESQUEDA SANDER',
            'OLEA GALINDO',
            'CORREA GARCIA',
            'SOTO VILLA',
            'ZEPEDA  RUELAS',
            'MONCADA GONZALEZ',
            'MARTINEZ GONZALEZ',
            'MANZO MORENO',
            'BELTRAN LEON',
            'MEDINA OROZCO',
            'MARTINEZ SANCHEZ',
            'MARTINEZ HERNANDEZ',
            'Araujo Bojorquez',
            'Araujo Sanz',
            'Navarro Sugich',
            'Navarro Cordova',
            'Ortega  Madrid',
            'Gurrola Ortega',
            'Pineda Dúran',
            'Monge Noriega',
            'Garibay Alvarez',
            'Sarabia  López',
            'López Martinez',
            'Lopez Martinez',
    
        ];

        var first_name=
        [
            'JUAN D E DIOS',
            'CYNTHIA MARIA',
            'ESPARZA ',
            'PATRICIA CAROLINA',
            'HECTOR ALFONSO',
            'SAYDE NATALIA',
            'FREDO',
            'FRANCISCO JAVIER',
            'J. JESUS',
            'DIANA GRISSEL',
            'ESTEBAN',
            'ENRIQUE',
            'ADALBERTO',
            'ALDO',
            'ISRAEL',
            'RUTH ELENA',
            'JULIO CESAR',
            'MARTHA',
            'Luis Esteban',
            'Andrés ',
            'Santos Danithza',
            'Mario Hector',
            'Maria del Rosario',
            'Gustavo Alejandro',
            'Raul ',
            'Arnulfo',
            'Vannia Alejandra',
            'Marlon ',
            'Dulce Maria',
            'Josefina',
        ];
        var names=
        [
                'JUAN D E DIOS OSUNA LUGO',
                'CYNTHIA MARIA MEDINA BERRELLEZ',
                'ESPARZA  PINTO SIRIA GABRIELA',
                'PATRICIA CAROLINA NAJAR DIAZ',
                'HECTOR ALFONSO PEREYDA GAMEZ',
                'SAYDE NATALIA DAVIZON ESPINOZA',
                'FREDO ESQUEDA SANDER',
                'FRANCISCO JAVIER OLEA GALINDO',
                'J. JESUS CORREA GARCIA',
                'DIANA GRISSEL SOTO VILLA',
                'ESTEBAN ZEPEDA  RUELAS',
                'ENRIQUE MONCADA GONZALEZ',
                'ADALBERTO MARTINEZ GONZALEZ',
                'ALDO MANZO MORENO',
                'ISRAEL BELTRAN LEON',
                'RUTH ELENA MEDINA OROZCO',
                'JULIO CESAR MARTINEZ SANCHEZ',
                'MARTHA MARTINEZ HERNANDEZ',
                'Luis Esteban Araujo Bojorquez',
                'Andrés  Araujo Sanz',
                'Santos Danithza Navarro Sugich',
                'Mario Hector Navarro Cordova',
                'Maria del Rosario Ortega  Madrid',
                'Gustavo Alejandro Gurrola Ortega',
                'Raul  Pineda Dúran',
                'Arnulfo Monge Noriega',
                'Vannia Alejandra Garibay Alvarez',
                'Marlon  Sarabia  López',
                'Dulce Maria López Martinez',
                'Josefina Lopez Martinez',
        ];

            var emails=[    
                'segurososunalugo@outlook.com',
                'caminosnogales@gmail.com',
                'gaby_ep16@hotmail.com',
                'patriciacnajar@gmail.com',
                'hectorpereyda@hotmail.com',
                'sayde.davizon05@hotmail.com',
                'fredo.esqueda@gmail.com',
                'oleafj@prodigy.net.mx',
                'correa_g@hotmail.com',
                'dianasgnp@yahoo.com',
                'esteban.proseg@gmail.com',
                'moncada_enrique@hotmail.com',
                'asistente@adpseguros',
                'aldomanzom@gmail.com',
                'israel.acento@hotmai.com',
                'ruthelenaseguros@gmail.com',
                'cesarcefesa@hotmail.com',
                'marthamartinezseguros@hotmail.com',
                'luis.esteban@araujoseguros.mx',
                'andres@araujoseguros.mx',
                'danithzanavarro@gmail.com',
                'sanmarasesores@gmail.com',
                'madridarc@gmail.com',
                'ortegaagasesores@gmail.com',
                'asegurese_rapidu@hotmail.com',
                'arnulfomongen@hotmail.com',
                'manuel.aguilar@preventte.com.mx',
                'marlonsarabia8@gmail.com',
                'tuty_mery@hotmail.com',
                'marlon_sarabia@hotmail.com',
        ];
    
        var num= 
        [

        ];
    
        var regions=
        [
        ];
    
        var offices=[     
            'NOGALES',
            'NOGALES',
            'NOGALES',
            'NOGALES',
            'NOGALES',
            'NOGALES',
            'NOGALES',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'SAN LUIS RIO COLORADO',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
            'Hermosillo',
        ];
    
        console.log("Registrando");
        for (var i=0; i<emails.length; i++)
        {
            var email =emails[i];//"qeventos"+i+"@qualitas.com.mx";
            console.log("Email");
            var indice=email.indexOf("@");
            var username = email.substring(0, indice);
            parameters={
                "action": "add",
                "username":username,
                "name":names[i],
                "first_name":first_name[i],//"Q Eventos",
                "last_name":last_name[i],//"Q Eventos",
                "email":email,
                "code":i+28,
                "verified":"0",
                "password":"FCLuchnik21.",
                "region":"NOROESTE",
                "office":offices[i],//"SAN JERÓNIMO",
                "job":"Agente",
            }
            params=JSON.stringify(parameters);
            console.log(params);    
            $.ajax({
                url:'{% url 'register' %}',
                type: 'POST',
                data: params,
                dataType:'json'
            }).done( function (data) {
                if(!data.hasOwnProperty('error'))
                {         
                   console.log(data);
                }
                else
                {
                    console.log(username);
                    
                    console.log(data.error);
                    console.log(names[i]);
                }             
           }).fail(function (jqXHR, textStatus,errorThrown)
           {
               console.log("Error e");
               console.log(textStatus+ ':'+errorThrown);
           }).always(function (data) {
    
           });
        }
    
    }
    

</script>
  
{% endblock %}
