<div class="spiralMain">
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
    <div class="spiral">
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
        <div class="spiralEffect"></div>
    </div>
</div>